@use "sass:map";
@use "@angular/material" as mat;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav {
  width: 100%;

  &__container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

    padding-top: 1rem;
    margin: 0 0 1rem 0;
    background-color: #ededed;
    border-bottom: 2px solid #cccccc;

  }

  &__item {
    display: flex;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1rem;
    color: #585858;

    &--active {
      color: #ffffff;
      background-color: map.get(mat.$blue-gray-palette, 600);
    }
  }
}

.main {
  min-width: 1280px;
  max-width: 1600px;
}
