$unisys-bold-teal-palette: (
  50: #00090a,
  100: #001a1c,
  200: #002426,
  300: #003134,
  400: #335a5d,
  500: #4c6f71,
  600: #668385
);

$unisys-propel-mint-palette: (
  50: #00ab69,
  100: #00bd75,
  200: #00cf7f,
  300: #00e28b,
  400: #40e9a8,
  500: #73efbf,
  600: #a6f5d6
);

$unisys-purposeful-teal-palette: (
  50: #003c3d,
  100: #004e4f,
  200: #005f61,
  300: #007173,
  400: #338d8f,
  500: #59a3a4,
  600: #80b8b9
);

$unisys-imagination-aqua-palette: (
  50: #00c9c9,
  100: #00dbdb,
  200: #00eded,
  300: #00ffff,
  400: #80ffff,
  500: #b2ffff,
  600: #ccffff
);

$unisys-joyful-melon-palette: (
  50: #b4e86f,
  100: #baf074,
  200: #c0f777,
  300: #cfff8f,
  400: #d9ffa5,
  500: #e2ffbc,
  600: #ecffd2
);

$unisys-innovation-blue-palette: (
  50: #0c0066,
  100: #110094,
  200: #1600bf,
  300: #1b00eb,
  400: #3d26ee,
  500: #5f4cf1,
  600: #8273f4
);

$unisys-agile-lavender-palette: (
  50: #8e00a3,
  100: #9f00b8,
  200: #b100cc,
  300: #c400e1,
  400: #d033e7,
  500: #d959eb,
  600: #e180f0
);

$unisys-momentum-aubergine-palette: (
  50: #0b000d,
  100: #210026,
  200: #310038,
  300: #42004c,
  400: #683370,
  500: #7b4c82,
  600: #8e6694
);

$unisys-relentless-red-palette: (
  50: #c4221f,
  100: #d62522,
  200: #e82925,
  300: #fb2c28,
  400: #fc5653,
  500: #fc7673,
  600: #fd9593
);

$unisys-black-palette: (
  50: #000000,
  100: #0d0d0d,
  200: #1a1a1a,
  300: #2a2a2a,
  400: #555555,
  500: #6a6a6a,
  600: #7f7f7f
);
